[submodule "libraries/Adafruit_MPU6050"]
	path = libraries/Adafruit_MPU6050
	url = git://github.com/adafruit/Adafruit_MPU6050.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
